<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/png" href="@ViewBag.LogoUrl">
    <link rel="stylesheet" href="@Url.Content("~/css/site.css")" asp-append-version="true" />
    <link rel="stylesheet" href="@Url.Content("~/Client/asset/css/site.css")" asp-append-version="true" />
    <link rel="stylesheet" href="@Url.Content("~/Client/asset/css/mobile-fix.css")" asp-append-version="true" />
    <link rel="stylesheet" href="@Url.Content("~/Client/asset/css/detailproduct.css")" asp-append-version="true" />
    <link rel="stylesheet" href="@Url.Content("~/Client/asset/css/categoryview.css")" asp-append-version="true" />
    <link rel="stylesheet" href="@Url.Content("~/Client/asset/css/pagination.css")" asp-append-version="true" />

    <link rel="stylesheet" href="~/vendor/fonts/roboto/roboto.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/vendor/fontawesome/css/all.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/vendor/bootstrap-select/css/bootstrap-select.min.css" asp-append-version="true" />
     @* Notyf *@
    <link rel="stylesheet" href="~/vendor/notyf/notyf.min.css" asp-append-version="true" />
    <script src="~/vendor/notyf/notyf.min.js" asp-append-version="true"></script>

</head>
   @using Tech_Store.Helpers
<body class="d-flex flex-column min-vh-100">
    @{
        var userRoles = ViewBag.User?.Roles as IEnumerable<dynamic>;
    }
    <div class="marquee-line">
        <div class="row w-100">
            <div class="col-12 col-md-8 marquee-tag marquee-wrap">
                <marquee class="marquee-content" direction="left">
                    <p class="m-0">
                        Tận tâm , phục vụ khách hàng là sứ mệnh của chúng tôi. Chúng tôi cam kết mang đến những sản phẩm chất lượng và dịch vụ tốt nhất để đáp ứng nhu cầu của bạn. Hãy cùng chúng tôi trải nghiệm sự khác biệt!
                    </p>
                </marquee>
            </div>

            <div class="d-none d-md-flex col-md-4 d-flex flex-wrap gap-5">
                <p class="m-0"><i class="fa fa-phone me-2"></i> 1800-xx12</p>
                <p class="m-0"><i class="fa fa-map-marked me-2"></i> Địa chỉ cửa hàng</p>
                <p class="m-0"><i class="fa fa-award me-2"></i> Chứng nhận</p>
            </div>

        </div>


    </div>
   
    <nav class="navbar navbar-expand-lg navbar-dark custom-navbar sticky-top">
       
        <div class="container">
            <div class="navbar-header-row">
                <a class="navbar-brand d-flex align-items-center" href="/">
                   <img src="@ViewBag.LogoUrl" width="30px"/>
                    <span class="brand-text ps-2">@ViewBag.NameWebsite</span>
                </a>

                <ul class="navbar-nav nav-right nav-right-mobile d-flex flex-row align-items-center d-lg-none">
                    <li class="nav-item dropdown position-relative">
                        <a class="nav-link text-white d-flex align-items-center" href="#" id="notificationToggleMobile">
                            <div class="position-relative">
                                <i class="fa fa-bell" aria-hidden="true"></i>
                                <span id="notification_count_mobile" class="badge bg-danger position-absolute top-0 start-100 translate-middle rounded-circle p-1 notification notification-badge-compact">
                                    @(ViewBag.Notification_count != null ? ViewBag.Notification_count : 0 )
                                </span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item position-relative">
                        <a class="nav-link text-white d-flex align-items-center" href="~/User/Cart">
                            <div class="position-relative">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                <span id="Cart_numb_mobile" class="badge bg-danger position-absolute top-0 start-100 translate-middle rounded-circle p-1 badge-counter-compact">
                                    @ViewBag.cart_numb
                                </span>
                            </div>
                        </a>
                    </li>
                    @if (ViewBag.User != null)
                    {
                        <li class="nav-item dropdown">
                            <button class="btn account-menu-trigger account-menu-trigger--mobile dropdown-toggle" type="button" id="accountDropdownMobile" data-bs-toggle="dropdown" aria-expanded="false">
                                <img class="account-menu-trigger__avatar" width="30" height="30" src="~/Upload/Avatar/@ViewBag.User.Img" />
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end account-menu account-menu--mobile" aria-labelledby="accountDropdownMobile">
                                <li class="account-menu__header">
                                    <img class="account-menu__avatar" width="40" height="40" src="~/Upload/Avatar/@ViewBag.User.Img" />
                                    <div class="account-menu__meta">
                                        <strong>@ViewBag.User.Email</strong>
                                        <span>Tài khoản của bạn</span>
                                    </div>
                                </li>
                                @if (userRoles != null && userRoles.Any(r => r.RoleName == "Admin"))
                                {
                                    <li><a class="dropdown-item account-menu__item" href="/admin"><i class="fa fa-grid-2"></i><span>Trang quản lý</span></a></li>
                                }
                                else
                                {
                                    <li><a class="dropdown-item account-menu__item" href="/user/Information"><i class="fa fa-user"></i><span>Tài khoản</span></a></li>
                                }
                                <li><a class="dropdown-item account-menu__item" href="/user/MyOrders"><i class="fa fa-box"></i><span>Đơn hàng</span></a></li>
                                <li><a class="dropdown-item account-menu__item" href="/user/Wishlist"><i class="fa fa-heart"></i><span>Yêu thích</span></a></li>
                                <li><a class="dropdown-item account-menu__item account-menu__item--danger" href="@Url.Action("Logout", "Authentication")"><i class="fa fa-right-from-bracket"></i><span>Đăng xuất</span></a></li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-white d-flex align-items-center" href="~/Auth/Login" aria-label="Đăng nhập">
                                <i class="fa fa-user"></i>
                            </a>
                        </li>
                    }
                    <li class="nav-item">
                        <button class="navbar-toggler navbar-toggler-header" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </li>
                </ul>

                <button class="navbar-toggler d-none d-lg-inline-flex navbar-toggler-header" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <form action="~/Search" method="get" class="search-form search-form-mobile position-relative d-lg-none" data-search-form>
                <div class="input-group">
                    <input type="search"
                           class="form-control search-input search-input-mobile rounded-start-3 ps-3 js-search-input"
                           placeholder="Bạn đang tìm kiếm gì ? "
                           aria-label="Search"
                           autocomplete="off"
                           name="key" required>
                    <button class="btn border bg-white search-btn rounded-end-3" type="submit">
                        <i class="fa fa-search text-danger"></i>
                    </button>
                </div>
                <ul class="list-group position-absolute w-100 mt-1 shadow-sm rounded-3 d-none search-suggestions js-search-suggestions">
                </ul>
            </form>

            <div class="collapse navbar-collapse navbar-collapse-custom" id="navbarTogglerDemo01">
                <!-- Category Dropdown -->
                <div class="dropdown category-dropdown mx-3">
                    <button class="btn btn-outline-light category-btn dropdown-toggle" type="button" id="categoryMenu" data-bs-toggle="dropdown">
                        <i class="fa fa-list me-2"></i> 
                        <span>Danh Mục</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-light animate slideIn" aria-labelledby="categoryMenu">
                        @foreach(var cate in ViewBag.Categories)
                        {
                            <li>
                                <a class="dropdown-item" href="~/Category/@cate.EngTitle">
                                <img src="/Upload/Logo/@cate.Image" width="30px" height="30px" class="rounded"/> @cate.Name
                                </a>
                            </li>
                        }
                    </ul>
                </div>

                <!-- Search Form -->
                <form action="~/Search" method="get" class="search-form search-form-desktop mx-auto position-relative d-none d-lg-block" data-search-form>
                    <div class="input-group">
                        <input type="search"
                               class="form-control search-input rounded-start-3 ps-3 js-search-input"
                               placeholder="Bạn đang tìm kiếm gì ? "
                               aria-label="Search"
                               autocomplete="off"
                               name="key" required>
                        <button class="btn border bg-white search-btn rounded-end-3" type="submit">
                            <i class="fa fa-search text-danger"></i>
                        </button>
                    </div>
                    <ul class="list-group position-absolute w-100 mt-1 shadow-sm rounded-3 d-none search-suggestions js-search-suggestions">
                    </ul>
                </form>
             
                <ul class="navbar-nav ms-auto nav-right d-none d-lg-flex flex-row align-items-center">
                    <!-- Notification -->
                    <li class="nav-item dropdown position-relative px-md-2">
                        <a class="nav-link text-white d-flex align-items-center" href="#" id="notificationToggle">
                            <div class="position-relative">
                                <i class="fa fa-bell" aria-hidden="true"></i>
                                <span id="notification_count" class="badge bg-danger position-absolute top-0 start-100 translate-middle rounded-circle p-1 notification notification-badge-compact">
                                    @(ViewBag.Notification_count != null ? ViewBag.Notification_count : 0 )
                                </span>
                            </div>
                        </a>

                    </li>

                    <!-- Cart -->
                    <li class="nav-item position-relative pe-md-2">
                        <a class="nav-link text-white d-flex align-items-center" href="~/User/Cart">
                            <div class="position-relative">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                <span id="Cart_numb" class="badge bg-danger position-absolute top-0 start-100 translate-middle rounded-circle p-1 badge-counter-compact">
                                    @ViewBag.cart_numb
                                </span>
                            </div>
                        </a>
                    </li>

                    <!-- Account -->
                    @if(ViewBag.User != null)
                    {
                        <li class="nav-item dropdown">
                            <button class="btn account-menu-trigger dropdown-toggle d-flex align-items-center" type="button" id="accountDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                <img class="account-menu-trigger__avatar" width="34" height="34" src="~/Upload/Avatar/@ViewBag.User.Img" />
                                <span class="d-inline-flex flex-column align-items-start account-menu-trigger__meta">
                                    <strong class="account-menu-trigger__title">Tài khoản</strong>
                                    <span class="d-inline-block text-truncate align-middle account-email-text">@ViewBag.User.Email</span>
                                </span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end account-menu" aria-labelledby="accountDropdown">
                                <li class="account-menu__header">
                                    <img class="account-menu__avatar" width="44" height="44" src="~/Upload/Avatar/@ViewBag.User.Img" />
                                    <div class="account-menu__meta">
                                        <strong>@ViewBag.User.Email</strong>
                                        <span>Quản lý thông tin và đơn hàng</span>
                                    </div>
                                </li>
                                @if (userRoles != null && userRoles.Any(r => r.RoleName == "Admin"))
                                {
                                    <li><a class="dropdown-item account-menu__item" href="/admin"><i class="fa fa-grid-2"></i><span>Trang quản lý</span></a></li>
                                }
                                else
                                {
                                    <li><a class="dropdown-item account-menu__item" href="/user/Information"><i class="fa fa-user"></i><span>Tài khoản</span></a></li>
                                }

                                <li><a class="dropdown-item account-menu__item" href="/user/MyOrders"><i class="fa fa-box"></i><span>Đơn hàng</span></a></li>
                                <li>
                                    <a class="dropdown-item account-menu__item" href="/user/Wishlist">
                                        <i class="fa fa-heart"></i><span>Yêu thích</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item account-menu__item account-menu__item--danger" href="@Url.Action("Logout", "Authentication")">
                                        <i class="fa fa-right-from-bracket"></i><span>Đăng xuất</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a href="~/Auth/Login" class="btn account-btn text-white" type="button">
                                <i class="far fa-user-circle me-2"></i> Đăng nhập
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    @{
        var clientNotifications = ViewBag.Notifications as IEnumerable<dynamic>;
    }
    <div id="notificationDropdown" class="notification-dropdown" aria-label="Bảng thông báo">
        <div class="notification-header">
            <div>
                <span class="notification-header__eyebrow">Trung tâm</span>
                <h6 class="mb-0">Thông báo</h6>
            </div>
            <button class="btn btn-link p-0" id="markAllAsRead">
                Đánh dấu đã đọc
            </button>
        </div>
        <div class="notification-body">
            <div class="notification-list">
                @if(clientNotifications != null && clientNotifications.Any())
                {
                    @foreach (var noti in clientNotifications)
                    {
                        <a href="@noti.RedirectUrl" class="notification-item @(noti.IsRead == false ? "mark-as-read is-unread" : "is-read")" data-id="@noti.UserNotificationId">
                            <div class="notification-content">
                                <div class="notification-avatar">
                                    <i class="fa fa-bell"></i>
                                </div>
                                <div class="notification-info">
                                    <p class="notification-text">@noti.Title</p>
                                    <span class="notification-message-preview" title="@noti.Message">
                                        @(noti.Message.Length > 50 ? noti.Message.Substring(0, Math.Min(72, noti.Message.Length)) + "..." : noti.Message)
                                    </span>
                                    <span class="notification-time">@((noti.CreatedAt as DateTime?)?.TimeAgo() ?? "Không xác định")</span>
                                </div>
                            </div>
                        </a>
                    }
                }
                else
                {
                    <div class="notification-empty-state">
                        <div class="notification-empty-state__icon">
                            <i class="fa fa-bell-slash"></i>
                        </div>
                        <strong>Chưa có thông báo</strong>
                        <span>Các cập nhật về đơn hàng và tài khoản sẽ xuất hiện tại đây.</span>
                    </div>
                }
            </div>
        </div>
    </div>


    <!-- Navbar -->
  
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
            @Html.Partial("ToastLive")
            @Html.Partial("LoginNoti")
            @Html.Partial("ChatWindow")
            @if (ViewBag.UserInfoRequire == false)
            {
                @Html.Partial("additionalInformationRqModal")
            }
        </main>

        <div class="loading-container">
            <span class="loader"></span>
        </div>


        <button id="back-to-top" class="btn" title="Lên đầu trang">
            <i class="fas fa-arrow-up"></i>
        </button>
      

    </div>

    <!-- Footer -->
    <footer class="site-footer mt-auto">
        <div class="site-footer__top">
            <div class="container">
                <div class="site-footer__benefits">
                    <div class="site-footer__benefit">
                        <span class="site-footer__benefit-icon"><i class="fas fa-shield-alt"></i></span>
                        <div>
                            <strong>Hàng chính hãng</strong>
                            <p>Bảo đảm nguồn gốc rõ ràng, đầy đủ bảo hành.</p>
                        </div>
                    </div>
                    <div class="site-footer__benefit">
                        <span class="site-footer__benefit-icon"><i class="fas fa-truck-fast"></i></span>
                        <div>
                            <strong>Giao hàng toàn quốc</strong>
                            <p>Hỗ trợ giao nhanh, kiểm tra trước khi nhận.</p>
                        </div>
                    </div>
                    <div class="site-footer__benefit">
                        <span class="site-footer__benefit-icon"><i class="fas fa-headset"></i></span>
                        <div>
                            <strong>Hỗ trợ tận tâm</strong>
                            <p>Tư vấn mua hàng và hậu mãi trong giờ làm việc.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-footer__main">
            <div class="container">
                <div class="row g-4">
                    <div class="col-12 col-lg-4">
                        <div class="site-footer__brand">
                            <div class="site-footer__brand-head">
                                <img src="@ViewBag.LogoUrl" width="40" height="40" alt="Logo" class="site-footer__logo" />
                                <div>
                                    <h5 class="site-footer__title mb-1">@ViewBag.NameWebsite</h5>
                                    <p class="site-footer__subtitle mb-0">Kênh mua sắm công nghệ dành cho khách hàng Việt Nam.</p>
                                </div>
                            </div>
                            <p class="site-footer__desc">@(string.IsNullOrWhiteSpace(ViewBag.Slogan as string) ? "Cung cấp sản phẩm công nghệ, phụ kiện và dịch vụ với trải nghiệm mua sắm rõ ràng, minh bạch và thuận tiện." : ViewBag.Slogan)</p>

                            <div class="site-footer__contact-card">
                                <div class="site-footer__contact-row">
                                    <i class="fas fa-phone-alt"></i>
                                    <div>
                                        <span>Hotline</span>
                                        <strong>@ViewBag.PhoneNumber</strong>
                                    </div>
                                </div>
                                <div class="site-footer__contact-row">
                                    <i class="fas fa-envelope"></i>
                                    <div>
                                        <span>Email hỗ trợ</span>
                                        <strong>@ViewBag.Email</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 col-lg-2">
                        <div class="site-footer__section">
                            <h6 class="site-footer__heading">Danh mục nổi bật</h6>
                            <ul class="site-footer__links">
                                @foreach (var cate in ViewBag.Categories)
                                {
                                    <li><a href="~/Category/@cate.EngTitle">@cate.Name</a></li>
                                }
                            </ul>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="site-footer__section">
                            <h6 class="site-footer__heading">Hỗ trợ khách hàng</h6>
                            <ul class="site-footer__links">
                                <li><a href="~/Search">Tìm kiếm sản phẩm</a></li>
                                <li><a href="~/User/Cart">Giỏ hàng</a></li>
                                <li><a href="~/User/MyOrders">Tra cứu đơn hàng</a></li>
                                <li><a href="~/Auth/Login">Tài khoản của tôi</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-12 col-md-4 col-lg-3">
                        <div class="site-footer__section">
                            <h6 class="site-footer__heading">Thông tin liên hệ</h6>
                            <ul class="site-footer__info">
                                <li><i class="fas fa-location-dot"></i><span>@ViewBag.AddressCompany</span></li>
                                <li><i class="fas fa-phone"></i><span>@ViewBag.PhoneNumber</span></li>
                                <li><i class="fas fa-envelope"></i><span>@ViewBag.Email</span></li>
                                @if (!string.IsNullOrEmpty(ViewBag.MoreInfo as string))
                                {
                                    <li><i class="fas fa-circle-info"></i><span>@ViewBag.MoreInfo</span></li>
                                }
                            </ul>

                            <div class="site-footer__social">
                                @if (!string.IsNullOrEmpty(ViewBag.FacebookUrl))
                                {
                                    <a href="@(ViewBag.FacebookUrl.StartsWith("http") ? ViewBag.FacebookUrl : "https://" + ViewBag.FacebookUrl)" target="_blank" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                                }
                                @if (!string.IsNullOrEmpty(ViewBag.InstagramUrl))
                                {
                                    <a href="@(ViewBag.InstagramUrl.StartsWith("http") ? ViewBag.InstagramUrl : "https://" + ViewBag.InstagramUrl)" target="_blank" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
                                }
                                @if (!string.IsNullOrEmpty(ViewBag.TwitterUrl))
                                {
                                    <a href="@(ViewBag.TwitterUrl.StartsWith("http") ? ViewBag.TwitterUrl : "https://" + ViewBag.TwitterUrl)" target="_blank" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                                }
                                @if (!string.IsNullOrEmpty(ViewBag.YoutubeUrl))
                                {
                                    <a href="@(ViewBag.YoutubeUrl.StartsWith("http") ? ViewBag.YoutubeUrl : "https://" + ViewBag.YoutubeUrl)" target="_blank" aria-label="Youtube"><i class="fab fa-youtube"></i></a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-footer__bottom">
            <div class="container site-footer__bottom-inner">
                <p class="mb-0">© @DateTime.Now.Year @ViewBag.NameWebsite. All rights reserved.</p>
                <p class="mb-0">Cam kết minh bạch thông tin, hỗ trợ nhanh và trải nghiệm mua sắm thuận tiện.</p>
            </div>
        </div>
    </footer>
    <!-- Footer -->

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/Client/asset/js/interaction-tracker.js"></script>
    <script src="~/Client/asset/js/index.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/vendor/bootstrap-select/js/bootstrap-select.min.js" asp-append-version="true"></script>

    @* JS Thông báo *@
    <script src="~/vendor/signalr/signalr.min.js" asp-append-version="true"></script>
    <script src="~/js/notificationclientside.js"></script>
    <script src="~/Client/asset/js/recommendation.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script type="text/javascript">
        $(document).ready(function () {
            const notyf = new Notyf({
                position: {
                    x: 'right', // Căn phải
                    y: 'bottom' // Căn dưới
                }
            });


            $('.loading-container').hide();


            $(document).ajaxStart(function () {
                if (!window.isLoadingNotifications) {
                    $('.loading-container').show();
                }
            });

            $(document).ajaxStop(function () {
                $('.loading-container').hide();
            });


            $('.modal').on('hidden.bs.modal', function () {
                $('.loading-container').hide();
            });
            // Load suggestions from JSON file
            let productSuggestions = [];
            $.getJSON("/json/products.json", function (data) {
                productSuggestions = data;
             
            });

            function updateSuggestions($suggestionsBox, suggestions, queryText) {
                $suggestionsBox.empty();

                if (suggestions && suggestions.length > 0) {
                    const formatCurrency = (value) => {
                        if (value === null || value === undefined || value === "") {
                            return "Liên hệ";
                        }

                        return Number(value).toLocaleString('vi-VN') + "đ";
                    };

                    const topSuggestions = suggestions.slice(0, 6);

                    topSuggestions.forEach(item => {
                        const name = item.Name || "Sản phẩm không tên";
                        const image = item.Image ? (item.Image.startsWith('http') ? item.Image : `/Upload/Products/${item.Image}`) : '/Upload/Products/no-image.png';
                        const originalPrice = item.OriginalPrice ? Number(item.OriginalPrice) : null;
                        const currentPrice = item.SellPrice ? Number(item.SellPrice) : null;
                        const hasDiscount = originalPrice && currentPrice && originalPrice > currentPrice;
                        const discountPercent = hasDiscount ? Math.round(((originalPrice - currentPrice) / originalPrice) * 100) : 0;
                        const savingAmount = hasDiscount ? originalPrice - currentPrice : 0;

                        $suggestionsBox.append(
                            `<li class="search-suggestion-row">
                                <a href="/View/${item.Slug}" class="search-suggestion-item text-decoration-none text-dark" data-product-id="${item.ProductId ?? ''}" data-product-sys-id="${item.ProductSysId ?? ''}" data-track-event="search_click" data-track-source="search_suggestion" data-track-query="${$('<div>').text(queryText || '').html()}">
                                    <div class="search-suggestion-media">
                                        <img src="${image}" alt="${name}" class="search-suggestion-thumb">
                                    </div>
                                    <div class="search-suggestion-body">
                                        <div class="search-suggestion-title">${name}</div>
                                        <div class="search-suggestion-pricing">
                                            <span class="search-suggestion-current-price">${formatCurrency(currentPrice)}</span>
                                            ${hasDiscount ? `<span class="search-suggestion-original-price">${formatCurrency(originalPrice)}</span>` : ``}
                                            ${hasDiscount ? `<span class="search-suggestion-discount">-${discountPercent}%</span>` : ``}
                                        </div>
                                        <div class="search-suggestion-meta">
                                            <span class="search-suggestion-meta-pill">Xem nhanh</span>
                                            ${hasDiscount ? `<span class="search-suggestion-saving">Tiết kiệm ${formatCurrency(savingAmount)}</span>` : `<span class="search-suggestion-saving">Giá tốt hôm nay</span>`}
                                        </div>
                                    </div>
                                    <span class="search-suggestion-arrow">
                                        <i class="fa fa-chevron-right"></i>
                                    </span>
                                </a>
                            </li>`
                        );
                    });

                    $suggestionsBox.append(
                        `<li class="search-suggestion-footer">
                            <button type="submit" class="search-suggestion-footer__action">
                                Xem tất cả kết quả cho "${(queryText || '').trim()}"
                            </button>
                        </li>`
                    );

                    $suggestionsBox.removeClass("d-none");
                } else {
                    $suggestionsBox.addClass("d-none");
                }
            }

            $("[data-search-form]").each(function () {
                const $form = $(this);
                const $searchInput = $form.find(".js-search-input");
                const $suggestionsBox = $form.find(".js-search-suggestions");

                $searchInput.on("input", function () {
                    const query = $(this).val().trim().toLowerCase();
                    if (query) {
                        const filteredSuggestions = productSuggestions.filter(item =>
                            item.Name && item.Name.toLowerCase().includes(query)
                        );
                        updateSuggestions($suggestionsBox, filteredSuggestions, $(this).val());
                    } else {
                        $suggestionsBox.addClass("d-none");
                    }
                });

                $suggestionsBox.on("click", ".search-suggestion-item", function () {
                    if (window.UserInteractionTracker) {
                        window.UserInteractionTracker.trackElement(this);
                    }
                    const selectedName = $(this).find(".fw-bold").text();
                    $searchInput.val(selectedName);
                    $suggestionsBox.addClass("d-none");
                });

                $searchInput.on("blur", function () {
                    setTimeout(function () {
                        $suggestionsBox.addClass("d-none");
                    }, 180);
                });
            });

            $(document).on("click", function (e) {
                if (!$(e.target).closest(".search-form").length) {
                    $(".js-search-suggestions").addClass("d-none");
                }
            });

            $(window).on("scroll resize", function () {
                $(".js-search-suggestions").addClass("d-none");
            });


            const wishlistProductIds = new Set(@Html.Raw(System.Text.Json.JsonSerializer.Serialize(ViewBag.WishlistProductIds ?? new System.Collections.Generic.List<int>())));

            function markWishlistButton($button) {
                $button.addClass('is-active').attr('aria-pressed', 'true');
                $button.closest('.product-card, .card').addClass('is-wishlisted');
                $button.find('i').removeClass('far').addClass('fas');
                if ($button.find('span').length) {
                    $button.find('span').text('Đã yêu thích');
                } else {
                    $button.contents().filter(function () {
                        return this.nodeType === 3;
                    }).remove();
                    $button.append('<span>Đã yêu thích</span>');
                }
            }

            window.syncWishlistCards = function () {
                $('.addToWishList[data-id]').each(function () {
                    const $button = $(this);
                    const productId = Number($button.data('id'));
                    if (wishlistProductIds.has(productId)) {
                        markWishlistButton($button);
                    }
                });
            };

            window.markProductWishlisted = function (productId, button) {
                wishlistProductIds.add(Number(productId));
                markWishlistButton($(button));
            };

            window.syncWishlistCards();

            // Bắt sự kiện click trên phần nội dung sản phẩm
            $('.product-link').on('click', function (e) {
                if ($(e.target).closest('.addToWishList').length) {
                    e.preventDefault();
                    e.stopPropagation();
                    return;
                }

                if (window.UserInteractionTracker) {
                    window.UserInteractionTracker.trackElement(this);
                }

                var slug = $(this).data('slug');
                window.location.href = '/View/' + slug;
            });

            // Bắt sự kiện click trên nút yêu thích
          $(document).on('mousedown', '.addToWishList', function (e) {
                e.stopPropagation(); // Ngăn sự kiện click lan ra ngoài
                e.preventDefault();
                var $button = $(this);
                var productId = $(this).data('id');

                $.ajax({
                    method: 'POST',
                    url: '@Url.Action("AddToWishlist", "User")',
                    data: { productId: productId },
                    success: function (response) {
                        if (response.success) {
                            window.markProductWishlisted(productId, $button);
                            notyf.success(response.message);
                            
                        } else {
                            if (response.message && response.message.toLowerCase().includes('đã có')) {
                                window.markProductWishlisted(productId, $button);
                            }
                            notyf.error(response.message);
                        }
                    },
                    error: function (response) {
                        $('.loading-container').hide();
                        var loginModal = new bootstrap.Modal(document.getElementById('loginRequiredModal'));
                        loginModal.show();
                        return false;
                    }
                });
            });
        });

    </script>
    <script>
        $(document).ready(function () {
            const $notificationToggle = $('#notificationToggle, #notificationToggleMobile');
            const $notificationDropdown = $('#notificationDropdown');
            let isDropdownOpen = false;

            function positionNotificationDropdown($trigger) {
                const triggerElement = $trigger && $trigger.length ? $trigger[0] : null;
                if (!triggerElement) {
                    return;
                }

                const rect = triggerElement.getBoundingClientRect();
                const isMobile = window.innerWidth < 768;
                const top = rect.bottom + 8;

                $notificationDropdown.css({
                    top: `${top}px`,
                    left: 'auto',
                    transform: 'none'
                });

                if (isMobile) {
                    $notificationDropdown.css({
                        right: '12px',
                        width: 'min(360px, calc(100vw - 24px))',
                        maxHeight: `calc(100vh - ${Math.ceil(top + 12)}px)`
                    });
                    return;
                }

                const dropdownWidth = Math.min(420, window.innerWidth - 32);
                const desiredLeft = rect.right - dropdownWidth + 16;
                const clampedLeft = Math.max(16, Math.min(desiredLeft, window.innerWidth - dropdownWidth - 16));
                $notificationDropdown.css({
                    left: `${clampedLeft}px`,
                    right: 'auto',
                    width: `${dropdownWidth}px`,
                    maxHeight: `calc(100vh - ${Math.ceil(top + 18)}px)`
                });
            }

            function closeNotificationDropdown() {
                $notificationDropdown.removeClass('show');
                $notificationToggle.removeClass('active');
                isDropdownOpen = false;
            }

            // Toggle dropdown
            $notificationToggle.on('click', function (e) {
                e.preventDefault();
                e.stopPropagation();

                if (isDropdownOpen) {
                    closeNotificationDropdown();
                } else {
                    positionNotificationDropdown($(this));
                    $notificationDropdown.addClass('show');
                    $notificationToggle.removeClass('active');
                    $(this).addClass('active');
                    isDropdownOpen = true;
                }
            });

            // Đóng dropdown khi click ngoài
            $(document).on('click', function (e) {
                if (!$(e.target).closest('#notificationDropdown, #notificationToggle, #notificationToggleMobile').length) {
                    closeNotificationDropdown();
                }
            });

            $(window).on('scroll resize', function () {
                if (!isDropdownOpen) {
                    return;
                }

                const $activeToggle = $('#notificationToggle.active, #notificationToggleMobile.active').first();
                if (!$activeToggle.length) {
                    closeNotificationDropdown();
                    return;
                }

                if (window.innerWidth < 768) {
                    closeNotificationDropdown();
                    return;
                }

                positionNotificationDropdown($activeToggle);
            });

            // Ngăn dropdown đóng khi click vào nội dung
            $notificationDropdown.on('click', function (e) {
                e.stopPropagation();
            });

            $(document).on('keydown', function (e) {
                if (e.key === 'Escape') {
                    closeNotificationDropdown();
                }
            });
        });
    </script>
    @* Đánh dấu là đã đọc thông báo *@
    <script>
        $(document).ready(function () {
            $(".mark-as-read").on('click', function (e) {
                e.preventDefault(); // Ngăn hành vi mặc định của thẻ a (chuyển hướng)

                var $this = $(this); // Lưu đối tượng được click
                var id = $this.data("id");
                $('.loading-container').show()
                $.ajax({
                    method: 'POST',
                    url: '/notifications/mark-as-read',
                    data: { id: id },
                    success: function (response) {
                        if (response && response.success) {
                            $this.removeClass("is-unread mark-as-read");
                            $this.addClass("is-read");
                            // Giảm số lượng thông báo chưa đọc
                            var $notificationBadge = $('.notification'); // Chọn phần tử hiển thị số thông báo
                            var currentCount = parseInt($notificationBadge.text(), 10); // Lấy số lượng hiện tại
                            if (!isNaN(currentCount) && currentCount > 0) {
                                $notificationBadge.text(currentCount - 1); // Giảm số lượng đi 1
                            }
                            $('.loading-container').hide()

                            // Nếu bạn muốn cho phép chuyển hướng sau khi xử lý thành công
                            window.location.href = $this.attr("href");
                        }
                    },
                    error: function () {
                        alert("Không thể đánh dấu thông báo. Vui lòng thử lại.");
                    }
                });
            });

            $("#markAllAsRead").on('click', function (e) {
                e.preventDefault(); // Ngăn hành vi mặc định của thẻ a (chuyển hướng)

                var $this = $(this); // Lưu đối tượng được click
            
                $('.loading-container').show()
                $.ajax({
                    method: 'POST',
                    url: '/notifications/mark-all-as-read',
                    success: function (response) {
                        if (response && response.success) {
                            $(".notification-item").removeClass("is-unread mark-as-read").addClass("is-read");

                            $(".notification").text(0);
                            $('.loading-container').hide()

                        }
                    },
                    error: function () {
                        alert("Không thể đánh dấu thông báo. Vui lòng thử lại.");
                        $('.loading-container').hide()

                    }
                });
            });
        })
    </script>
    
   

</body>

</html>
