
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}
@using System.Globalization;

    <div class="page-inner">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
            <div>
                <h3 class="fw-bold mb-3">Trang chủ</h3>
            </div>
           @*  <div class="ms-md-auto py-2 py-md-0">
                <a href="#" class="btn btn-label-info btn-round me-2">Manage</a>
                <a href="#" class="btn btn-primary btn-round">Add Customer</a>
            </div> *@
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-primary bubble-shadow-small">
                                    <i class="fas fa-users"></i>
                                </div>
                            </div>
                            <div class="col col-stats ms-3 ms-sm-0">
                                <div class="numbers">
                                    <p class="card-category">Lượt Truy Cập</p>
                                    <h4 class="card-title">1,294</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-info bubble-shadow-small">
                                    <i class="fas fa-user-check"></i>
                                </div>
                            </div>
                            <div class="col col-stats ms-3 ms-sm-0">
                                <div class="numbers">
                                    <p class="card-category">Người Đăng ký</p>
                                <h4 class="card-title">@ViewBag.User_count</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-success bubble-shadow-small">
                                <i class="fas fa-cube"></i>

                                </div>
                            </div>
                            <div class="col col-stats ms-3 ms-sm-0">
                                <div class="numbers">
                                    <p class="card-category">Sản phẩm</p>
                                    <h4 class="card-title">@ViewBag.Product_count</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-secondary bubble-shadow-small">
                                    <i class="far fa-check-circle"></i>
                                </div>
                            </div>
                            <div class="col col-stats ms-3 ms-sm-0">
                                <div class="numbers">
                                    <p class="card-category">Đơn Hàng</p>
                                <h4 class="card-title">@ViewBag.Order_count</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        <div class="col-md-8">
            <div class="card card-round">
                <div class="card-header">
                    <div class="card-head-row card-tools-still-right">
                        <div class="card-title">Đơn hàng mới</div>
                        <div class="card-tools">
                            <div class="dropdown">
                                <button class="btn btn-icon btn-clean me-0"
                                        type="button"
                                        id="dropdownMenuButton"
                                        data-bs-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false">
                                    <i class="fas fa-ellipsis-h"></i>
                                </button>
                                <div class="dropdown-menu"
                                     aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="/Admin/Orders/all">Xem thêm</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <!-- Projects table -->
                        <table class="table align-items-center mb-0">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Mã đơn hàng</th>
                                    <th scope="col" class="text-end">Sản phẩm</th>
                                    <th scope="col" class="text-end">Người mua</th>
                                    <th scope="col" class="text-end">Số tiền</th>
                                    <th scope="col" class="text-end">Trạng thái</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var order in ViewBag.New_orders)
                                {
                                    <tr>
                                        <th scope="row" style="white-space:nowrap">
                                            <a href="/Admin/Orders/View/@order.OrderId">
                                                Đơn hàng #@order.OrderId

                                            </a>
                                        </th>
                                        <td class="text-end text-truncate" style="max-width: 250px;">
                                            @order.TopProduct
                                            @if (order.OtherProductsCount > 0)
                                            {
                                                <span class="text-muted">và @order.OtherProductsCount sản phẩm khác</span>
                                            }
                                        </td>

                                        <td class="text-end text-truncate" style="max-width: 150px;">@order.Email</td>
                                        <td class="text-end" style="white-space:nowrap">@order.TotalAmount.ToString("C0", new CultureInfo("vi-VN"))</td>
                                        <td class="text-end">
                                            <span class="badge
                                                  @(order.OrderStatus == "Pending" ? "badge-primary" :
                                                    order.OrderStatus == "Confirmed" ? "badge-info" :
                                                    order.OrderStatus == "Shipping" ? "badge-warning" :
                                                     order.OrderStatus == "Delivered" ? "badge-light" :
                                                    order.OrderStatus == "Completed" ? "badge-success" :
                                                    order.OrderStatus == "Cancelled" ? "badge-danger" :
                                                    "badge-secondary")">
                                                @(order.OrderStatus == "Pending" ? "Đang chờ" :
                                                    order.OrderStatus == "Confirmed" ? "Đã xác nhận" :
                                                    order.OrderStatus == "Shipping" ? "Đang giao hàng" :
                                                    order.OrderStatus == "Delivered" ? "Đã giao hàng" :
                                                    order.OrderStatus == "Completed" ? "Hoàn thành" :
                                                    order.OrderStatus == "Cancelled" ? "Đã hủy" :
                                                    order.OrderStatus == "Refunded" ? "Đã hoàn tiền" :
                                                    "Không xác định")
                                            </span>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
            <div class="col-md-4">
                <div class="card card-primary card-round">
                    <div class="card-header">
                        <div class="card-head-row">
                            <div class="card-title">Doanh thu gần nhất</div>
                            <div class="card-tools">
                                <div class="dropdown">
                                    <button class="btn btn-sm btn-label-light dropdown-toggle"
                                            type="button"
                                            id="dropdownMenuButton"
                                            data-bs-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false">
                                        Export
                                    </button>
                                    <div class="dropdown-menu"
                                         aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="card-category">
                        @(DateTime.Now.AddMonths(-1).ToString("dd 'tháng' MM") + " - " + DateTime.Now.ToString("dd 'tháng' MM"))
                    </div>

                    </div>
                    <div class="card-body pb-0">
                        <div class="mb-4 mt-2">
                        <h1>@ViewBag.Revenue.ToString("C0",new CultureInfo("vi-VN"))</h1>
                        </div>
                        <div class="pull-in">
                            <canvas id="dailySalesChart"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card card-round">
                    <div class="card-body pb-0">
                        <div class="h1 fw-bold float-end text-primary">+5%</div>
                        <h2 class="mb-2">17</h2>
                        <p class="text-muted">Users online</p>
                        <div class="pull-in sparkline-fix">
                            <div id="lineChart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-round">
                    <div class="card-body">
                        <div class="card-head-row card-tools-still-right">
                            <div class="card-title">Người dùng mới</div>
                            <div class="card-tools">
                                <div class="dropdown">
                                    <button class="btn btn-icon btn-clean me-0"
                                            type="button"
                                            id="dropdownMenuButton"
                                            data-bs-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false">
                                        <i class="fas fa-ellipsis-h"></i>
                                    </button>
                                    <div class="dropdown-menu"
                                         aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="/Admin/Users/Index">Xem thêm</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-list py-4">
                        @foreach (var user in ViewBag.New_users)
                        {
                            <div class="item-list">
                                <div class="avatar">
                                    @if(user.Img !=null)
                                    {
                                        <img src="/Upload/Avatar/@user.Img"
                                             alt="..."
                                        class="avatar-img rounded-circle" />
                                    }
                                    else
                                    {
                                        <img src="/Upload/Avatar/none.png"
                                             alt="..."
                                             class="avatar-img rounded-circle" />
                                    }

                                </div>
                                <div class="info-user ms-3">
                                    <div class="username">@user.LastName @user.FirstName</div>
                                    <div class="status">@user.CreatedAt</div>
                                </div>
                                <button class="btn btn-icon btn-link op-8 me-1">
                                    <i class="far fa-envelope"></i>
                                </button>
                                <button class="btn btn-icon btn-link btn-danger op-8">
                                    <i class="fas fa-ban"></i>
                                </button>
                            </div>
                        }
                   
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card card-round">
                    <div class="card-header">
                        <div class="card-head-row card-tools-still-right">
                            <div class="card-title">Lịch sử giao dịch</div>
                            <div class="card-tools">
                                <div class="dropdown">
                                    <button class="btn btn-icon btn-clean me-0"
                                            type="button"
                                            id="dropdownMenuButton"
                                            data-bs-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false">
                                        <i class="fas fa-ellipsis-h"></i>
                                    </button>
                                    <div class="dropdown-menu"
                                         aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="/Admin/Transactions/Index">Xem thêm</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <!-- Projects table -->
                            <table class="table align-items-center mb-0">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Mã Giao Dịch</th>
                                        <th scope="col" class="text-end">Thời gian</th>
                                        <th scope="col" class="text-end">Số tiền</th>
                                    <th scope="col" class="text-end">Hình thức gd</th>
                                        <th scope="col" class="text-end">Trạng thái</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(var transaction in ViewBag.Payments)
                                {
                                    <tr>
                                        <th scope="row" style="white-space:nowrap">
                                            <a href="/Admin/Transactions/View/@transaction.PaymentId">
                                                Giao dịch #@transaction.PaymentId

                                            </a>
                                        </th>
                                        <td class="text-end" style="white-space:nowrap">@transaction.PaymentDate</td>
                                        <td class="text-end" style="white-space:nowrap">@transaction.Amount.ToString("C0", new CultureInfo("vi-VN"))</td>
                                        <td class="text-end">@transaction.PaymentMethod</td>

                                        <td class="text-end">
                                            @if (transaction.Status.ToLower() == "paid")
                                            {
                                                <span class="badge badge-success">Đã thanh toán</span>
                                            }
                                            else
                                            {
                                                <span class="badge badge-danger">Chưa thanh toán</span>

                                            }
                                        </td>
                                    </tr>
                                }
                                
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


