@{
    ViewData["Title"] = "Create Products";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}
@model Tech_Store.Models.Product
<style>

</style>

<form asp-action="CreateProduct" asp-controller="Product" method="post" enctype="multipart/form-data">

    <div class="container-fluid">
        <h3>Thêm sản phẩm mới</h3>
        @Html.AntiForgeryToken()
        <div class="card mb-4">
            <div class="card-header">
                <h5>Thông tin sản phẩm</h5>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label name="Name" class="form-label">Tên Sản Phẩm (VN)</label>
                    <input name="Name" class="form-control" required/>
                </div>
                <div class="mb-3">
                    <label name="Description" class="form-label">Mô tả</label>
                    <textarea name="Description" class="form-control" id="description"></textarea>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                <h4>Thiết lập chung</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label name="Category" class="form-label">Danh Mục</label>
                        <select name="CategoryId" class="form-control border selectpicker" data-live-search="true" required>
                            @foreach(var item in ViewBag.Categories)
                            {
                                <option value="@item.CategoryId"> @item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label name="Brand" class="form-label">Thương Hiệu</label>
                        <select name="BrandId" class="form-control border selectpicker" data-live-search="true" required>
                            @foreach (var item in ViewBag.Brands)
                            {
                                <option value="@item.BrandId"> @item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">SKU Sản Phẩm</label>
                        <span class="input-label-secondary cursor-pointer" data-bs-toggle="tooltip" title='Tạo mã "Duy nhất" để quản lý sản phẩm bằng cách nhấp vào tạo mã'>
                            <i class="fas fa-info-circle"></i>
                        </span>
                        <a href="javascript:void(0)" onclick="generateSku()" class="text-end">Tạo mã</a>
                        <input name="Sku" type="text" class="form-control" id="SkuCode" />
                    </div>

                    <div class="col-md-6 mb-3">
                        <label name="Brand" class="form-label">Tình trạng</label>
                        <span class="input-label-secondary cursor-pointer" data-bs-toggle="tooltip" title="Nhập tình trạng để xử lý khi bán hàng">
                            <i class="fas fa-info-circle"></i>
                        </span>
                        <select name="Status" class="form-control border selectpicker" data-live-search="true" required>
                            <option value="preorder"> Đặt trước </option>
                            <option value="available"> Có sẵn </option>
                            <option value="outstock"> Hết hàng </option>
                            <option value="StopSell"> Ngưng bán </option>

                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                <h4>Giá và các yếu tố khác</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label name="ImportPrice" class="form-label">Giá Nhập (đ)</label>
                        <span class="input-label-secondary cursor-pointer" data-bs-toggle="tooltip" title="Thêm giá nhập cho sản phẩm này">
                            <i class="fas fa-info-circle"></i>
                        </span>
                        <input name="ImportPrice" type="number" class="form-control" />
                    </div>
                    <div class="col-md-3 mb-3">
                        <label name="Price" class="form-label">Đơn Giá Bán (đ)</label>  <span class="input-label-secondary cursor-pointer" data-bs-toggle="tooltip" title="Thêm giá bán cho sản phẩm này">
                            <i class="fas fa-info-circle"></i>
                        </span>
                        <input name="Price" type="number" class="form-control" />
                    </div>
                    <div class="col-md-3 mb-3">
                        <label name="Stock" class="form-label">Số Lượng</label>
                        <span class="input-label-secondary cursor-pointer" data-bs-toggle="tooltip" title="Thêm số lượng tồn kho hiện tại cho sản phẩm này">
                            <i class="fas fa-info-circle"></i>
                        </span>
                        <input name="Stock" type="number" class="form-control" />
                    </div>
                    <div class="col-md-3 mb-3">
                        <label name="Stock" class="form-label">Bảo Hành (Tháng)</label>
                        <span class="input-label-secondary cursor-pointer" data-bs-toggle="tooltip" title="Thêm chế độ bảo hành cho sản phẩm này">
                            <i class="fas fa-info-circle"></i>
                        </span>
                        <input name="WarrantyPeriod" type="text" class="form-control" />
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                <h4>Giảm giá</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label name="DiscountPercentage" class="form-label">Loại Giảm Giá</label>
                        <span class="input-label-secondary cursor-pointer" data-bs-toggle="tooltip" title="Thêm hình đại diện của sản phẩm trong JPG, PNG or JPEG định dạng trong 2MB">
                            <i class="fas fa-info-circle"></i>
                        </span>
                        <select name="DiscountTypeId" id="DiscountType" class="form-select">
                            <option value="">Chọn loại giảm giá</option>
                            <option value="1">Cố định</option>
                            <option value="2">Phần trăm</option>
                        </select>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div id="cash">
                            <label name="discountedPrice" class="form-label">Số Tiền Giảm Giá (đ)</label>
                            <input name="discountedPrice" type="number" class="form-control" />
                        </div>
                        <div id="percent" style="display:none">
                            <label name="discountPercentage" class="form-label">Số Tiền Giảm Giá (%)</label>
                            <input name="discountPercentage" type="number" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                <h4>Màu sắc</h4>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label name="DiscountPercentage" class="form-label">Chọn màu sắc :</label>
                        <span class="input-label-secondary cursor-pointer" data-bs-toggle="tooltip" title="Chọn màu sắc cho sản phẩm này">
                            <i class="fas fa-info-circle"></i>
                        </span>
                        <select name="Color" id="SelectColor" class="form-control border selectpicker" multiple="multiple" data-live-search="true">
                                <option value="#F0F8FF" style="background-color:#F0F8FF;">AliceBlue</option>
                                <option value="#9966CC" style="background-color:#9966CC;">Amethyst</option>
                                <option value="#FAEBD7" style="background-color:#FAEBD7;">AntiqueWhite</option>
                                <option value="#00FFFF" style="background-color:#00FFFF;">Aqua</option>
                                <option value="#7FFFD4" style="background-color:#7FFFD4;">Aquamarine</option>
                                <option value="#F0FFFF" style="background-color:#F0FFFF;">Azure</option>
                                <option value="#F5F5DC" style="background-color:#F5F5DC;">Beige</option>
                                <option value="#FFE4C4" style="background-color:#FFE4C4;">Bisque</option>
                                <option value="#000000" style="background-color:#000000;">Black</option>
                                <option value="#FFEBCD" style="background-color:#FFEBCD;">BlanchedAlmond</option>
                                <option value="#0000FF" style="background-color:#0000FF;">Blue</option>
                                <option value="#8A2BE2" style="background-color:#8A2BE2;">BlueViolet</option>
                                <option value="#A52A2A" style="background-color:#A52A2A;">Brown</option>
                                <option value="#DEB887" style="background-color:#DEB887;">BurlyWood</option>
                                <option value="#5F9EA0" style="background-color:#5F9EA0;">CadetBlue</option>
                                <option value="#7FFF00" style="background-color:#7FFF00;">Chartreuse</option>
                                <option value="#D2691E" style="background-color:#D2691E;">Chocolate</option>
                                <option value="#FF7F50" style="background-color:#FF7F50;">Coral</option>
                                <option value="#6495ED" style="background-color:#6495ED;">CornflowerBlue</option>
                                <option value="#FFF8DC" style="background-color:#FFF8DC;">Cornsilk</option>
                                <option value="#DC143C" style="background-color:#DC143C;">Crimson</option>
                                <option value="#00008B" style="background-color:#00008B;">DarkBlue</option>
                                <option value="#008B8B" style="background-color:#008B8B;">DarkCyan</option>
                                <option value="#B8860B" style="background-color:#B8860B;">DarkGoldenrod</option>
                                <option value="#A9A9A9" style="background-color:#A9A9A9;">DarkGray</option>
                                <option value="#006400" style="background-color:#006400;">DarkGreen</option>
                                <option value="#BDB76B" style="background-color:#BDB76B;">DarkKhaki</option>
                                <option value="#8B008B" style="background-color:#8B008B;">DarkMagenta</option>
                                <option value="#556B2F" style="background-color:#556B2F;">DarkOliveGreen</option>
                                <option value="#FF8C00" style="background-color:#FF8C00;">DarkOrange</option>
                                <option value="#9932CC" style="background-color:#9932CC;">DarkOrchid</option>
                                <option value="#8B0000" style="background-color:#8B0000;">DarkRed</option>
                                <option value="#E9967A" style="background-color:#E9967A;">DarkSalmon</option>
                                <option value="#8FBC8F" style="background-color:#8FBC8F;">DarkSeaGreen</option>
                                <option value="#483D8B" style="background-color:#483D8B;">DarkSlateBlue</option>
                                <option value="#2F4F4F" style="background-color:#2F4F4F;">DarkSlateGray</option>
                                <option value="#00CED1" style="background-color:#00CED1;">DarkTurquoise</option>
                                <option value="#9400D3" style="background-color:#9400D3;">DarkViolet</option>
                                <option value="#FF1493" style="background-color:#FF1493;">DeepPink</option>
                                <option value="#00BFFF" style="background-color:#00BFFF;">DeepSkyBlue</option>
                                <option value="#696969" style="background-color:#696969;">DimGray</option>
                                <option value="#1E90FF" style="background-color:#1E90FF;">DodgerBlue</option>
                                <option value="#B22222" style="background-color:#B22222;">FireBrick</option>
                                <option value="#FFFAF0" style="background-color:#FFFAF0;">FloralWhite</option>
                                <option value="#228B22" style="background-color:#228B22;">ForestGreen</option>
                                <option value="#DCDCDC" style="background-color:#DCDCDC;">Gainsboro</option>
                                <option value="#F8F8FF" style="background-color:#F8F8FF;">GhostWhite</option>
                                <option value="#FFD700" style="background-color:#FFD700;">Gold</option>
                                <option value="#DAA520" style="background-color:#DAA520;">Goldenrod</option>
                                <option value="#808080" style="background-color:#808080;">Gray</option>
                                <option value="#008000" style="background-color:#008000;">Green</option>
                                <option value="#ADFF2F" style="background-color:#ADFF2F;">GreenYellow</option>
                                <option value="#F0FFF0" style="background-color:#F0FFF0;">Honeydew</option>
                                <option value="#FF69B4" style="background-color:#FF69B4;">HotPink</option>
                                <option value="#CD5C5C" style="background-color:#CD5C5C;">IndianRed</option>
                                <option value="#4B0082" style="background-color:#4B0082;">Indigo</option>
                                <option value="#FFFFF0" style="background-color:#FFFFF0;">Ivory</option>
                                <option value="#F0E68C" style="background-color:#F0E68C;">Khaki</option>
                                <option value="#E6E6FA" style="background-color:#E6E6FA;">Lavender</option>
                                <option value="#FFF0F5" style="background-color:#FFF0F5;">LavenderBlush</option>
                                <option value="#7CFC00" style="background-color:#7CFC00;">LawnGreen</option>
                                <option value="#FFFACD" style="background-color:#FFFACD;">LemonChiffon</option>
                                <option value="#ADD8E6" style="background-color:#ADD8E6;">LightBlue</option>
                                <option value="#F08080" style="background-color:#F08080;">LightCoral</option>
                                <option value="#E0FFFF" style="background-color:#E0FFFF;">LightCyan</option>
                                <option value="#FAFAD2" style="background-color:#FAFAD2;">LightGoldenrodYellow</option>
                                <option value="#90EE90" style="background-color:#90EE90;">LightGreen</option>
                                <option value="#D3D3D3" style="background-color:#D3D3D3;">LightGrey</option>
                                <option value="#FFB6C1" style="background-color:#FFB6C1;">LightPink</option>
                                <option value="#FFA07A" style="background-color:#FFA07A;">LightSalmon</option>
                                <option value="#20B2AA" style="background-color:#20B2AA;">LightSeaGreen</option>
                                <option value="#87CEFA" style="background-color:#87CEFA;">LightSkyBlue</option>
                                <option value="#778899" style="background-color:#778899;">LightSlateGray</option>
                                <option value="#B0C4DE" style="background-color:#B0C4DE;">LightSteelBlue</option>
                                <option value="#FFFFE0" style="background-color:#FFFFE0;">LightYellow</option>
                                <option value="#00FF00" style="background-color:#00FF00;">Lime</option>
                                <option value="#32CD32" style="background-color:#32CD32;">LimeGreen</option>
                                <option value="#FAF0E6" style="background-color:#FAF0E6;">Linen</option>
                                <option value="#FF00FF" style="background-color:#FF00FF;">Magenta</option>
                                <option value="#800000" style="background-color:#800000;">Maroon</option>
                                <option value="#66CDAA" style="background-color:#66CDAA;">MediumAquamarine</option>
                                <option value="#0000CD" style="background-color:#0000CD;">MediumBlue</option>
                                <option value="#BA55D3" style="background-color:#BA55D3;">MediumOrchid</option>
                                <option value="#9370DB" style="background-color:#9370DB;">MediumPurple</option>
                                <option value="#3CB371" style="background-color:#3CB371;">MediumSeaGreen</option>
                                <option value="#7B68EE" style="background-color:#7B68EE;">MediumSlateBlue</option>
                                <option value="#00FA9A" style="background-color:#00FA9A;">MediumSpringGreen</option>
                                <option value="#48D1CC" style="background-color:#48D1CC;">MediumTurquoise</option>
                                <option value="#C71585" style="background-color:#C71585;">MediumVioletRed</option>
                                <option value="#191970" style="background-color:#191970;">MidnightBlue</option>
                                <option value="#F5FFFA" style="background-color:#F5FFFA;">MintCream</option>
                                <option value="#FFE4E1" style="background-color:#FFE4E1;">MistyRose</option>
                                <option value="#FFE4B5" style="background-color:#FFE4B5;">Moccasin</option>
                                <option value="#FFDEAD" style="background-color:#FFDEAD;">NavajoWhite</option>
                                <option value="#000080" style="background-color:#000080;">Navy</option>
                                <option value="#FDF5E6" style="background-color:#FDF5E6;">OldLace</option>
                                <option value="#808000" style="background-color:#808000;">Olive</option>
                                <option value="#6B8E23" style="background-color:#6B8E23;">OliveDrab</option>
                                <option value="#FFA500" style="background-color:#FFA500;">Orange</option>
                                <option value="#FF4500" style="background-color:#FF4500;">OrangeRed</option>
                                <option value="#DA70D6" style="background-color:#DA70D6;">Orchid</option>
                                <option value="#EEE8AA" style="background-color:#EEE8AA;">PaleGoldenrod</option>
                                <option value="#98FB98" style="background-color:#98FB98;">PaleGreen</option>
                                <option value="#AFEEEE" style="background-color:#AFEEEE;">PaleTurquoise</option>
                                <option value="#DB7093" style="background-color:#DB7093;">PaleVioletRed</option>
                                <option value="#FFEFD5" style="background-color:#FFEFD5;">PapayaWhip</option>
                                <option value="#FFDAB9" style="background-color:#FFDAB9;">PeachPuff</option>
                                <option value="#CD853F" style="background-color:#CD853F;">Peru</option>
                                <option value="#FFC0CB" style="background-color:#FFC0CB;">Pink</option>
                                <option value="#DDA0DD" style="background-color:#DDA0DD;">Plum</option>
                                <option value="#B0E0E6" style="background-color:#B0E0E6;">PowderBlue</option>
                                <option value="#800080" style="background-color:#800080;">Purple</option>
                                <option value="#FF0000" style="background-color:#FF0000;">Red</option>
                                <option value="#BC8F8F" style="background-color:#BC8F8F;">RosyBrown</option>
                                <option value="#4169E1" style="background-color:#4169E1;">RoyalBlue</option>
                                <option value="#8B4513" style="background-color:#8B4513;">SaddleBrown</option>
                                <option value="#FA8072" style="background-color:#FA8072;">Salmon</option>
                                <option value="#F4A460" style="background-color:#F4A460;">SandyBrown</option>
                                <option value="#2E8B57" style="background-color:#2E8B57;">SeaGreen</option>
                                <option value="#FFF5EE" style="background-color:#FFF5EE;">Seashell</option>
                                <option value="#A0522D" style="background-color:#A0522D;">Sienna</option>
                                <option value="#C0C0C0" style="background-color:#C0C0C0;">Silver</option>
                                <option value="#87CEEB" style="background-color:#87CEEB;">SkyBlue</option>
                                <option value="#6A5ACD" style="background-color:#6A5ACD;">SlateBlue</option>
                                <option value="#708090" style="background-color:#708090;">SlateGray</option>
                                <option value="#FFFAFA" style="background-color:#FFFAFA;">Snow</option>
                                <option value="#00FF7F" style="background-color:#00FF7F;">SpringGreen</option>
                                <option value="#4682B4" style="background-color:#4682B4;">SteelBlue</option>
                                <option value="#D2B48C" style="background-color:#D2B48C;">Tan</option>
                                <option value="#008080" style="background-color:#008080;">Teal</option>
                                <option value="#D8BFD8" style="background-color:#D8BFD8;">Thistle</option>
                                <option value="#FF6347" style="background-color:#FF6347;">Tomato</option>
                                <option value="#40E0D0" style="background-color:#40E0D0;">Turquoise</option>
                                <option value="#EE82EE" style="background-color:#EE82EE;">Violet</option>
                                <option value="#F5DEB3" style="background-color:#F5DEB3;">Wheat</option>
                                <option value="#FFFFFF" style="background-color:#FFFFFF;">White</option>
                                <option value="#F5F5F5" style="background-color:#F5F5F5;">WhiteSmoke</option>
                            <option value="#9ACD32" style="background-color:#9ACD32;">YellowGreen</option>

                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <h4>Hình ảnh và Video</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Hình Ảnh Thu Nhỏ Sản Phẩm</label>
                        <span class="input-label-secondary cursor-pointer" data-bs-toggle="tooltip" title="Thêm hình đại diện của sản phẩm trong JPG, PNG or JPEG định dạng trong 2MB"> <i class="fas fa-info-circle"></i> </span>
                        <div id="thumbnailDropzone" class="dropzone">
                            <input type="file" name="image" accept="image/*" style="display: none;">
                            <i class="fas fa-cloud-upload-alt"></i>
                            <p>Kéo và thả hoặc nhấp để chọn hình ảnh</p>
                        </div>
                        <div id="thumbnailPreview" class="mt-2"></div>
                        <small class="text-muted">Chỉ 1 ảnh, kích thước tối đa: 2MB</small>
                    </div>
                    <div class="col-md-8 mb-3">
                        <label class="form-label">Tải Lên Hình Ảnh Bổ Sung</label>
                        <div id="additionalDropzone" class="dropzone">
                            <input type="file" name="Gallery" accept="image/*" multiple style="display: none;">
                            <i class="fas fa-cloud-upload-alt"></i>
                            <p>Kéo và thả hoặc nhấp để chọn hình ảnh</p>
                        </div>
                        <div id="additionalPreview" class="mt-2"></div>
                        <small class="text-muted">Tối đa 8 hình ảnh, mỗi hình tối đa 2MB</small>
                    </div>

                <div class="mb-3">
                    <label class="form-label">Video sản phẩm</label>
                    <span class="input-label-secondary cursor-pointer" data-bs-toggle="tooltip" title="Nhập URL Youtube, video sẽ được hiển thị trên trang bán hàng">
                        <i class="fas fa-info-circle"></i>
                    </span>
                    <input type="url" class="form-control" id="videoUrl" name="urlYoutube" placeholder="Nhập URL video YouTube" />
                    <div id="videoPreview" class="mt-2"></div>
                </div>
            </div>
        </div>
        <div class="text-end">
            <button type="submit" class="btn btn-primary">Đăng sản phẩm</button>
        </div>
</form>

<script src="~/Admin/assets/js/core/jquery-3.7.1.min.js"></script>
@* 
Ckeditor *@
<script src="~/admin/ckeditor/ckeditor.js"></script>
<script>
    // Tạo mã SKU
    function generateSku() {
        // Định nghĩa tiền tố SKU
        const prefix = "TSE"; // Bạn có thể thay đổi tiền tố nếu cần

        // Tạo số ngẫu nhiên từ 10000 đến 99999
        const randomNum = Math.floor(10000 + Math.random() * 90000);

        // Kết hợp tiền tố với số ngẫu nhiên để tạo mã SKU
        const sku = `${prefix}-${randomNum}`;

        // Gán mã SKU vào trường nhập liệu
        $('#SkuCode').val(sku);
    }
</script>
<script>

</script>
<script>
    $(document).ready(function () {
        // Xử lý URL video YouTube
        $('#videoUrl').change(function () {
            const url = $(this).val();
            const videoId = extractVideoID(url);
            if (videoId) {
                $('#videoPreview').html(`<iframe width="560" height="315" src="https://www.youtube.com/embed/${videoId}" frameborder="0" allowfullscreen></iframe>`);
            } else {
                $('#videoPreview').empty();
            }
        });

        // Hàm trích xuất ID video từ URL YouTube
        function extractVideoID(url) {
            const regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#&?]*).*/;
            const match = url.match(regExp);
            return (match && match[7].length == 11) ? match[7] : false;
        }
    });

   
</script>
<script>
    function setupDropzone(dropzoneId, inputName, previewId, isSingle = false) {
        const dropzone = document.getElementById(dropzoneId);
        const input = dropzone.querySelector('input[type="file"]');
        const preview = document.getElementById(previewId);

        dropzone.addEventListener('click', () => input.click());
        dropzone.addEventListener('dragover', (e) => {
            e.preventDefault();
            dropzone.classList.add('dragover');
        });
        dropzone.addEventListener('dragleave', () => {
            dropzone.classList.remove('dragover');
        });
        dropzone.addEventListener('drop', (e) => {
            e.preventDefault();
            dropzone.classList.remove('dragover');
            handleFiles(e.dataTransfer.files);
        });

        input.addEventListener('change', () => handleFiles(input.files));

        function handleFiles(files) {
            if (isSingle) {
                preview.innerHTML = '';
                files = [files[0]];
            }
            Array.from(files).forEach(file => {
                if (file.type.startsWith('image/') && file.size <= 2 * 1024 * 1024) {
                    const reader = new FileReader();
                    reader.onload = (e) => {
                        const div = document.createElement('div');
                        div.className = 'preview-image';
                        div.innerHTML = `
                            <img src="${e.target.result}" alt="Preview">
                            <button class="remove-btn">&times;</button>
                        `;
                        div.querySelector('.remove-btn').addEventListener('click', () => {
                            div.remove();
                            updateInputFiles();
                        });
                        preview.appendChild(div);
                        updateInputFiles();
                    };
                    reader.readAsDataURL(file);
                } else {
                    alert(`File ${file.name} không hợp lệ. Chỉ chấp nhận hình ảnh dưới 2MB.`);
                }
            });
        }

        function updateInputFiles() {
            const dataTransfer = new DataTransfer();
            preview.querySelectorAll('img').forEach(img => {
                fetch(img.src)
                    .then(res => res.blob())
                    .then(blob => {
                        const file = new File([blob], "image.jpg", { type: "image/jpeg" });
                        dataTransfer.items.add(file);
                        input.files = dataTransfer.files;
                    });
            });
        }
    }

    document.addEventListener('DOMContentLoaded', () => {
        setupDropzone('thumbnailDropzone', 'Image', 'thumbnailPreview', true);
        setupDropzone('additionalDropzone', 'Gallery', 'additionalPreview');
    });
</script>
<script type="text/javascript">
    CKEDITOR.replace('description');
</script>
<script type="text/javascript">
    $(document).ready(function () {
        // Ẩn các trường nhập liệu ban đầu
        $('#cash').hide();
        $('#percent').hide();

        // Kiểm tra giá trị của dropdown khi thay đổi
        $('#DiscountType').on('change', function () {
            var selectedValue = $(this).val(); // Lấy giá trị được chọn

            // Ẩn tất cả các trường nhập liệu
            $('#cash').hide();
            $('#percent').hide();

            // Hiển thị trường nhập liệu tương ứng với loại giảm giá được chọn
            if (selectedValue === "1") { // Loại giảm giá "Cố định"
                $('#cash').show(); // Hiện trường số tiền giảm giá
            } else if (selectedValue === "2") { // Loại giảm giá "Phần trăm"
                $('#percent').show(); // Hiện trường số tiền giảm giá phần trăm
            }
        });

        // Submit form bằng AJAX
        $('#ProductForm').on('submit', function (e) {
            e.preventDefault(); // Ngăn chặn submit form thông thường

            $('.loading-container').show(); // Hiển thị loading

            var formData = new FormData(this); // Thu thập dữ liệu từ form

            $.ajax({
                method: 'POST',
                url: '/Products/Create', // Đảm bảo đường dẫn chính xác
                data: formData,
                processData: false, // Không xử lý dữ liệu
                contentType: false, // Không đặt content type, để trình duyệt tự làm
                headers: {
                    "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() // Lấy token xác thực nếu có
                },
                success: function (res) {
                    $('.loading-container').hide(); // Ẩn loading
                    alert('Thành công!'); // Thông báo thành công
                },
                error: function (xhr, error, status) {
                    $('.loading-container').hide(); // Ẩn loading
                    alert('Đã xảy ra lỗi: ' + xhr.responseText); // Thông báo lỗi
                    console.error('Error details:', error); // Log chi tiết lỗi
                }
            });
        });

        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

    });
</script>
