@{
    ViewData["Title"] = "Create Products";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}
@model Tech_Store.Models.Product
<style>

</style>

<form asp-action="CreateProduct" asp-controller="Product" method="post" enctype="multipart/form-data" id="ProductForm">

    <div class="container-fluid">
        <h3 class="py-3 ms-3">
            <i class="fas fa-box text-info pe-2"></i> Thêm sản phẩm mới
        </h3>
        @Html.AntiForgeryToken()
        <div class="card mb-4">
            <div class="card-header">
                <h5>
                    <i class="fas fa-sticky-note text-info pe-2"></i>   Thông tin sản phẩm
                </h5>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label name="Name" class="form-label">Tên Sản Phẩm (VN)</label>
                    <input name="Name" class="form-control" required />
                </div>
                <div class="mb-3">
                    <label name="Description" class="form-label">Mô tả</label>
                    <textarea name="Description" class="form-control" id="description"></textarea>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                <h5><i class="fas fa-cogs text-info pe-2"></i> Thiết lập chung</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label name="Category" class="form-label">Danh Mục</label>
                        <select name="CategoryId" class="form-control border selectpicker" data-live-search="true" required>
                            @foreach (var item in ViewBag.Categories)
                            {
                                <option value="@item.CategoryId"> @item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label name="Brand" class="form-label">Thương Hiệu</label>
                        <select name="BrandId" class="form-control border selectpicker" data-live-search="true" required>
                            @foreach (var item in ViewBag.Brands)
                            {
                                <option value="@item.BrandId"> @item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">SKU Sản Phẩm</label>
                        <span class="input-label-secondary cursor-pointer" data-bs-toggle="tooltip" title='Tạo mã "Duy nhất" để quản lý sản phẩm bằng cách nhấp vào tạo mã'>
                             <i class="fas fa-info-circle text-info"></i>
                        </span>
                        <a href="javascript:void(0)" onclick="generateSku()" class="text-end">Tạo mã</a>
                        <input name="Sku" type="text" class="form-control" id="SkuCode" />
                    </div>

                    <div class="col-md-6 mb-3">
                        <label name="Brand" class="form-label">Tình trạng</label>
                        <span class="input-label-secondary cursor-pointer" data-bs-toggle="tooltip" title="Nhập tình trạng để xử lý khi bán hàng">
                             <i class="fas fa-info-circle text-info"></i>
                        </span>
                        <select name="Status" class="form-control border selectpicker" data-live-search="true" required>
                            <option value="preorder"> Đặt trước </option>
                            <option value="available"> Có sẵn </option>
                            <option value="outstock"> Hết hàng </option>
                            <option value="discontinued"> Ngưng bán </option>

                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                <h5> <i class="fas fa-tags text-info pe-2"></i> Giá và các yếu tố khác  </h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label name="ImportPrice" class="form-label">Giá Nhập (đ)</label>
                        <span class="input-label-secondary cursor-pointer" data-bs-toggle="tooltip" title="Thêm giá nhập cho sản phẩm này">
                             <i class="fas fa-info-circle text-info"></i>
                        </span>
                        <input name="CostPrice" type="number" class="form-control" />
                    </div>
                    <div class="col-md-3 mb-3">
                        <label name="Price" class="form-label">Đơn Giá Gốc (đ)</label>
                        <span class="input-label-secondary cursor-pointer" data-bs-toggle="tooltip" title="Đặt giá bán cho mỗi đơn vị của sản phẩm này. Phần đơn giá này sẽ không áp dụng nếu bạn đặt biến giá thay đổi">
                            <i class="fas fa-info-circle text-info"></i>
                        </span>
                        <input name="OriginalPrice" type="number" class="form-control" id="OriginalPrice" />
                    </div>
                    <div class="col-md-3 mb-3">
                        <label name="Stock" class="form-label">Số Lượng</label>
                        <span class="input-label-secondary cursor-pointer" data-bs-toggle="tooltip" title="Thêm số lượng tồn kho hiện tại cho sản phẩm này">
                             <i class="fas fa-info-circle text-info"></i>
                        </span>
                        <input name="Stock" type="number" class="form-control" />
                    </div>
                    <div class="col-md-3 mb-3">
                        <label name="Stock" class="form-label">Khối Lượng (KG)</label>
                        <span class="input-label-secondary cursor-pointer" data-bs-toggle="tooltip" title="Thêm khối lượng cho sản phẩm này, Đơn vị là kilogram">
                            <i class="fas fa-info-circle text-info"></i>
                        </span>
                        <input name="Weight" step="0.01" min="0" type="number" class="form-control" />
                    </div>
                   
                </div>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label name="Stock" class="form-label">Bảo Hành (Tháng)</label>
                        <span class="input-label-secondary cursor-pointer" data-bs-toggle="tooltip" title="Thêm chế độ bảo hành cho sản phẩm này">
                            <i class="fas fa-info-circle text-info"></i>
                        </span>
                        <input name="WarrantyPeriod" type="number" class="form-control" />
                    </div>
                    <div class="col-md-3 mb-3">
                        <label name="DiscountPercentage" class="form-label">Loại Giảm Giá</label>
                        <span class="input-label-secondary cursor-pointer" data-bs-toggle="tooltip" title="Chọn giảm giá bằng trừ tiền trực tiếp hoặc theo phần trăm (%). Để trống nếu bạn không muốn áp dụng khuyến mãi">
                            <i class="fas fa-info-circle text-info"></i>
                        </span>
                        <select name="DiscountTypeId" id="DiscountType" class="form-select">
                            <option value="1">Cố định</option>
                            <option value="2">Phần trăm</option>
                        </select>
                    </div>

                    <div class="col-md-3 mb-3">
                        <div id="cash">
                            <label name="discountAmount" class="form-label">Số Tiền Giảm Giá (đ)</label>
                            <input name="discountAmount" type="number" class="form-control" id="discountAmount" />
                        </div>
                        <div id="percent" style="display:none">
                            <label name="discountPercentage" class="form-label">Số Tiền Giảm Giá (%)</label>
                            <input name="discountPercentage" type="number" class="form-control" id="discountPercentage" />
                        </div>
                    </div>

                    <div class="col-md-3 mb-3">
                        <label name="sellPrice" class="form-label">Giá Bán (đ)</label>
                        <span class="input-label-secondary cursor-pointer" data-bs-toggle="tooltip" title="Giá bán sẽ được tự động tính toán. Chỉ thay đổi nếu có sai số để tránh việc sai số sau này">
                            <i class="fas fa-info-circle text-info"></i>
                        </span>
                        <input name="sellPrice" type="number" class="form-control" id="sellPrice" />
                    </div>
                </div>

            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                <h5>
                    <i class="fas fa-layer-group text-info pe-2"></i>
                    Biển thể sản phẩm
                </h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Chọn màu sắc</label>
                        <span class="input-label-secondary cursor-pointer" data-bs-toggle="tooltip" title="Chọn màu sắc cho sản phẩm này">
                             <i class="fas fa-info-circle text-info"></i>
                        </span>
                        <select name="Color" id="divColor" class="form-control border selectpicker" multiple="multiple" data-live-search="true">
                            <option value="Silver">Silver</option>
                            <option value="Black">Black</option>
                            <option value="Red">Red</option>
                            <option value="Pink">Pink</option>
                            <option value="Blue">Blue</option>
                            <option value="Green">Green</option>
                            <option value="Yellow">Yellow</option>
                            <option value="Purple">Purple</option>
                            <option value="White">White</option>
                            <option value="Gray">Gray</option>
                        </select>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Thêm thuộc tính</label>
                        <span class="input-label-secondary cursor-pointer" data-bs-toggle="tooltip" title="Sử dụng các biến thể khác để phân biệt sản phẩm">
                             <i class="fas fa-info-circle text-info"></i>
                        </span>
                        <select name="VarientSelect" id="variantSelect" class="form-control border selectpicker" multiple="multiple" data-live-search="true">
                            <option value="rom">Bộ nhớ</option>
                            <option value="material">Chất liệu</option>
                            <option value="size">Kích thước</option>
                        </select>
                    </div>
                    <div class="col-md-6 mb-3" id="divrom" style="display:none">
                        <label class="form-label">Bộ nhớ</label>
                        <select name="rom" id="romSelect" class="form-control border selectpicker" multiple="multiple" data-live-search="true">
                            <option value="32GB">32 GB</option>
                            <option value="64GB">64 GB</option>
                            <option value="128GB">128 GB</option>
                            <option value="256GB">256 GB</option>
                            <option value="512GB">512 GB</option>
                            <option value="1TB">1 TB</option>
                            <option value="2TB">2 TB</option>
                        </select>
                    </div>
                    <div class="col-md-6 mb-3" id="divMaterial" style="display:none">
                        <label class="form-label">Chất liệu</label>
                        <input name="material" id="materialInput" class="form-control border" />
                    </div>
                    <div class="col-md-6 mb-3" id="divSize" style="display:none">
                        <label class="form-label">Kích thước</label>
                        <select name="size" id="sizeSelect" class="form-control border selectpicker" multiple="multiple" data-live-search="true">
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                            <option value="XXL">XXL</option>
                        </select>
                    </div>
                </div>
                <div class="table-responsive table-Varient mt-4" style="display:none">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Biến thể thuộc tính</th>
                                <th>Giá theo biến thể (đ)</th>
                                <th>SKU
                                    <span class="input-label-secondary cursor-pointer" data-bs-toggle="tooltip" title="Nếu chưa có mã SKU đầy đủ hãy copy SKU sản phẩm phía trên để bổ sung">
                                        <i class="fas fa-info-circle text-info"></i>
                                    </span>
                                </th>
                                <th>Hàng tồn kho theo biến thể</th>
                                <th>Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody id="variantTableBody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <!-- Thẻ Hình Đại Diện -->
            <div class="col-md-3">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="col-md-12 mb-3">
                            <label class="form-label">Hình Ảnh Thu Nhỏ Sản Phẩm</label>
                           
                            <span class="input-label-secondary cursor-pointer" data-bs-toggle="tooltip" title="Thêm hình đại diện của sản phẩm trong JPG, PNG or JPEG định dạng trong 2MB">
                                <i class="fas fa-info-circle text-info"></i>
                            </span>
                            <span class="badge badge-info">Ratio 1:1 (500 x 500 px)</span>
                            <div id="thumbnailPreview" class="mt-2"></div>
                            <div id="thumbnailDropzone" class="dropzone">
                                <input type="file" name="image" accept="image/*" style="display: none;">
                                <i class="fas fa-cloud-upload-alt text-info"></i>
                                <p class="text-info">Tải ảnh lên</p>
                            </div>
                            <small class="text-muted text-warning">1 ảnh, kích thước tối đa: 2MB</small>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Thẻ Hình Ảnh Bổ Sung -->
            <div class="col-md-9">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="col-md-12 mb-3">
                            <label class="form-label">Tải Lên Hình Ảnh Bổ Sung</label>
                            <span class="badge badge-info">Ratio 1:1 (500 x 500 px)</span>

                            <div id="additionalPreview" class="mt-2"></div>
                            <div id="additionalDropzone" class="dropzone">
                                <input type="file" name="Galleries" accept="image/*" multiple style="display: none;">
                                <i class="fas fa-cloud-upload-alt text-info"></i>
                                <p class="text-info">Tải ảnh lên</p>
                            </div>
                          
                            <small class="text-muted text-warning">Tối đa 8 hình ảnh, mỗi hình tối đa 2MB</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                <h5>
                    <i class="fas fa-play text-info pe-2"></i>
                    Video Sản Phẩm
                </h5>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label class="form-label">Video sản phẩm</label>
                    <span class="input-label-secondary cursor-pointer" data-bs-toggle="tooltip" title="Nhập URL Youtube, video sẽ được hiển thị trên trang bán hàng">
                        <i class="fas fa-info-circle text-info"></i>
                    </span>
                    <input type="url" class="form-control" id="videoUrl" name="urlYoutube" placeholder="Nhập URL video YouTube" />
                    <div id="videoPreview" class="mt-2"></div>
                </div>
            </div>
        </div>

        <div class="text-end">
            <button type="submit" class="btn btn-primary">Đăng sản phẩm</button>
        </div>
        </div>
</form>

<script src="~/Admin/assets/js/core/jquery-3.7.1.min.js"></script>
@*
Ckeditor *@
<script src="~/admin/ckeditor/ckeditor.js"></script>
<script>
    // Tạo mã SKU
    function generateSku() {
        // Tạo số ngẫu nhiên từ 10000 đến 99999
        const randomNum = Math.floor(10000 + Math.random() * 90000);

        // Kết hợp tiền tố với số ngẫu nhiên để tạo mã SKU
        const sku = `${randomNum}`;

        // Gán mã SKU vào trường nhập liệu
        $('#SkuCode').val(sku);
    }
    $(document).ready(function () {
        $('.selectpicker').selectpicker();

        function updateVariantTable() {
            var colors = $('#divColor').val() || [];
            var rom = $('#romSelect').val() || [];
            var material = $('#materialInput').val().charAt(0).toUpperCase() || '';
            var sizes = $('#sizeSelect').val() || [];

            if (colors.length === 0) return;

            var variants = [];
            colors.forEach(function (color) {
                var baseVariant = { color: color };
                if (rom.length > 0) {
                    rom.forEach(function (r) {
                        var romVariant = { ...baseVariant, rom: r };
                        if (sizes.length > 0) {
                            sizes.forEach(function (size) {
                                variants.push({ ...romVariant, size: size, material: material });
                            });
                        } else {
                            variants.push({ ...romVariant, material: material });
                        }
                    });
                } else if (sizes.length > 0) {
                    sizes.forEach(function (size) {
                        variants.push({ ...baseVariant, size: size, material: material });
                    });
                } else {
                    variants.push({ ...baseVariant, material: material });
                }
            });

            var tableBody = $('#variantTableBody');
            tableBody.empty();

            variants.forEach(function (variant, index) {
                var variantString = Object.entries(variant)
                    .filter(([key, value]) => value !== '')
                    .map(([key, value]) => `${key}: ${value}`)
                    .join(', ');
                var skuProduct = $('#SkuCode').val() || '';
                var sku = skuProduct + '-' + Object.values(variant).filter(v => v !== '').join('-');
                var price = $('#sellPrice').val();
                var row = $('<tr>');
                row.append($('<td>').text(index + 1));
                row.append($('<td style="display:none">').html('<input type="hidden" name="VarientProducts[' + index + '].Attributes" value="' + variantString + '"/>'));
                row.append($('<td>').text(variantString));
                row.append($('<td>').html('<input type="number" class="form-control" name="VarientProducts[' + index + '].Price" value="'+price+'"/>'));
                row.append($('<td>').html('<input type="text" class="form-control" name="VarientProducts[' + index + '].Sku" value="' + sku + '"/>'));
                row.append($('<td>').html('<input type="number" class="form-control" name="VarientProducts[' + index + '].Stock" value="1" required/>'));
                row.append($('<td style="width:10%">').html('<i class="fas fa-trash delete-btn text-center text-danger" title="Xóa"></i>'));

                tableBody.append(row);
            });

            $('.table-Varient').show();
            updateRowNumbers();
        }


        $('#divColor, #romSelect, #materialInput, #sizeSelect').on('change', updateVariantTable);

        $('#variantSelect').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
            var selectedOptions = $(this).val() || [];
            $('#divrom, #divMaterial, #divSize').hide();
            if (selectedOptions.includes('rom')) {
                $('#divrom').show();
            }
            if (selectedOptions.includes('material')) {
                $('#divMaterial').show();
            }
            if (selectedOptions.includes('size')) {
                $('#divSize').show();
            }
            updateVariantTable();
        });

        // Initialize tooltips
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        });
    });

    function updateRowNumbers() {
        $('#variantTableBody tr').each(function (index) {
            // Update visible row number
            $(this).find('td:first').text(index + 1);

            // Update hidden input names and visible input names
            $(this).find('input').each(function () {
                var name = $(this).attr('name');
                if (name) {
                    var newName = name.replace(/\[\d+\]/, '[' + index + ']');
                    $(this).attr('name', newName);
                }
            });
        });
    }
    $(document).on('click', '.delete-btn', function () {
        $(this).closest('tr').remove();
        updateRowNumbers();
    });
</script>
<script>
    $(document).ready(function () {
        // Xử lý URL video YouTube
        $('#videoUrl').change(function () {
            const url = $(this).val();
            const videoId = extractVideoID(url);
            if (videoId) {
                $('#videoPreview').html(`<iframe width="560" height="315" src="https://www.youtube.com/embed/${videoId}" frameborder="0" allowfullscreen></iframe>`);
            } else {
                $('#videoPreview').empty();
            }
        });

        // Hàm trích xuất ID video từ URL YouTube
        function extractVideoID(url) {
            const regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#&?]*).*/;
            const match = url.match(regExp);
            return (match && match[7].length == 11) ? match[7] : false;
        }
    });


</script>
<script>
    function setupDropzone(dropzoneId, inputName, previewId, isSingle = false) {
        const dropzone = document.getElementById(dropzoneId);
        const input = dropzone.querySelector('input[type="file"]');
        const preview = document.getElementById(previewId);

        dropzone.addEventListener('click', () => input.click());
        dropzone.addEventListener('dragover', (e) => {
            e.preventDefault();
            dropzone.classList.add('dragover');
        });
        dropzone.addEventListener('dragleave', () => {
            dropzone.classList.remove('dragover');
        });
        dropzone.addEventListener('drop', (e) => {
            e.preventDefault();
            dropzone.classList.remove('dragover');
            handleFiles(e.dataTransfer.files);
        });

        input.addEventListener('change', () => handleFiles(input.files));

        function handleFiles(files) {
            if (isSingle) {
                preview.innerHTML = '';
                files = [files[0]];
            }
            Array.from(files).forEach(file => {
                if (file.type.startsWith('image/') && file.size <= 2 * 1024 * 1024) {
                    const reader = new FileReader();
                    reader.onload = (e) => {
                        const div = document.createElement('div');
                        div.className = 'preview-image';
                        div.innerHTML = `
                                    <img src="${e.target.result}" alt="Preview">
                                    <button class="remove-btn">&times;</button>
                                `;
                        div.querySelector('.remove-btn').addEventListener('click', () => {
                            div.remove();
                            updateInputFiles();
                        });
                        preview.appendChild(div);
                        updateInputFiles();
                    };
                    reader.readAsDataURL(file);
                } else {
                    alert(`File ${file.name} không hợp lệ. Chỉ chấp nhận hình ảnh dưới 2MB.`);
                }
            });
        }

        function updateInputFiles() {
            const dataTransfer = new DataTransfer();
            preview.querySelectorAll('img').forEach(img => {
                fetch(img.src)
                    .then(res => res.blob())
                    .then(blob => {
                        const file = new File([blob], "image.jpg", { type: "image/jpeg" });
                        dataTransfer.items.add(file);
                        input.files = dataTransfer.files;
                    });
            });
        }
    }

    document.addEventListener('DOMContentLoaded', () => {
        setupDropzone('thumbnailDropzone', 'Image', 'thumbnailPreview', true);
        setupDropzone('additionalDropzone', 'Galleries', 'additionalPreview');
    });
</script>
<script type="text/javascript">
    CKEDITOR.replace('description');
</script>
<script type="text/javascript">
    $(document).ready(function () {
        // Ẩn các trường nhập liệu ban đầu
        $('#percent').hide();

        // Kiểm tra giá trị của dropdown khi thay đổi
        $('#DiscountType').on('change', function () {
            var selectedValue = $(this).val(); // Lấy giá trị được chọn

            // Ẩn tất cả các trường nhập liệu
            $('#cash').hide();
            $('#percent').hide();

            // Hiển thị trường nhập liệu tương ứng với loại giảm giá được chọn
            if (selectedValue === "1") { // Loại giảm giá "Cố định"
                $('#cash').show(); // Hiện trường số tiền giảm giá
            } else if (selectedValue === "2") { // Loại giảm giá "Phần trăm"
                $('#percent').show(); // Hiện trường số tiền giảm giá phần trăm
            }
        });

        // Tính toán giá bán khi có thay đổi ở các trường nhập liệu
        $('#OriginalPrice, #discountAmount, #discountPercentage').on('input', function () {
            calculateSellPrice();
        });

        function calculateSellPrice() {
            let originalPrice = parseFloat($('#OriginalPrice').val()) || 0;
            let discountType = $('#DiscountType').val();
            let sellPrice = 0;

            if (discountType == '1') { // Giảm giá cố định
                let discountAmount = parseFloat($('#discountAmount').val()) || 0;
                sellPrice = originalPrice - discountAmount;
            } else if (discountType == '2') { // Giảm giá theo phần trăm
                let discountPercentage = parseFloat($('#discountPercentage').val()) || 0;
                sellPrice = originalPrice - (originalPrice * discountPercentage / 100);
            }

            // Đảm bảo giá bán không âm
            if (sellPrice < 0) {
                sellPrice = 0;
            }

            // Cập nhật giá bán
            $('#sellPrice').val(sellPrice.toFixed(2));
       }

        // Submit form bằng AJAX
        $('#ProductForm').on('submit', function (e) {
            e.preventDefault(); // Ngăn chặn submit form thông thường

            $('.loading-container').show(); // Hiển thị loading

            var formData = new FormData(this); // Thu thập dữ liệu từ form
            $.ajax({
                method: 'POST',
                url: '/Admin/Products/Create', // Đảm bảo đường dẫn chính xác
                data: formData,
                processData: false, // Không xử lý dữ liệu
                contentType: false, // Không đặt content type, để trình duyệt tự làm
                headers: {
                    "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() // Lấy token xác thực nếu có
                },
                success: function (res) {
                    $('.loading-container').hide(); // Ẩn loading
                    alert('Thành công!'); // Thông báo thành công
                },
                error: function (xhr, error, status) {
                    $('.loading-container').hide(); // Ẩn loading
                    alert('Đã xảy ra lỗi: ' + xhr.responseText); // Thông báo lỗi
                    console.error('Error details:', error); // Log chi tiết lỗi
                }
            });
        });

        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

    });
</script>
