@using Tech_Store.Helpers
@{
    ViewData["Title"] = "POS";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

<div class="pt-4"></div>
<div class="container-fluid row">
    <!-- Phần Sản phẩm -->
    <div class="col-lg-7 mb-md-4 mb-lg-0 col-sm-12">
        <div class="card h-100">
            <div class="p-3 m-0 bg-light">
                Mục sản phẩm
            </div>

            <div class="row gy-1">
                <div class="col-sm-6">
                    <div class="input form-control d-flex justify-content-end">
                        <select class="form-control selectpicker" name="CateId" data-live-search="true">
                            <option>Tất cả các danh mục</option>
                            @foreach(var cate in ViewBag.category)
                            {
                                <option value="@cate.CategoryId">@cate.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="input form-control d-flex justify-content-end">
                        <input class="form form-control searchProducts" placeholder="Tìm kiếm sản phẩm" type="search" />
                    </div>
                </div>
            </div>

            <!-- Thêm tính năng cuộn dọc khi có nhiều sản phẩm -->
            <div class="card-body pt-2" style="max-height: 75vh; overflow-y: auto;" id="CardProducts">
                <div class="row">
                    <!-- Card 1 -->
                    @foreach (var product in ViewBag.product)
                    {
                        <div class="col-6 col-md-3 mb-3">
                            <div class="card h-100">
                                <a class="getProductInfo" type="button" data-id="@product.ProductId">
                                    @if (product.Image == null)
                                    {
                                        <img src="~/Upload/Products/no-image.png" style="width:135px; height:135px; object-fit: cover; display: block; margin: 0 auto;" class="card-img-top" alt="...">
                                    }
                                    else if(product.Image.Contains("http"))
                                    {
                                        <img src="@ResizeCDN.Cdn(product.Image,135,135)" style="width:135px; height:135px; object-fit: cover; display: block; margin: 0 auto;" class="card-img-top" alt="...">
                                    }
                                    else
                                    {
                                        <img src="~/Upload/Products/@product.Image" style="width:135px; height:135px; object-fit: cover; display: block; margin: 0 auto;" class="card-img-top" alt="...">

                                    }
                                    <div class="card-body">
                                        <p class="card-text text-truncate-2">@product.Name</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                   <!-- Thêm các sản phẩm khác tương tự -->
                </div>
            </div>
            @Html.Partial("ViewProduct")
        </div>
    </div>

    <!-- Phần Hóa đơn -->
    <div class="col-lg-5 col-sm-12 mb-md-5">
        <div class="card h-100">
            <div class="p-3 m-0 bg-light">
                <h5 class="mb-0">Hóa đơn</h5>
            </div>

            <!-- Thêm tính năng cuộn dọc cho toàn bộ phần hóa đơn -->
            <div class="card-body" style="max-height: 80vh; overflow-y: auto;">
                <!-- Phần chọn và thêm khách hàng -->
                <div class="">
                    <div class="row w-100">
                        <div class="col-7">
                            <select class="form-control border selectpicker" name="selectCustomer" data-live-search="true" placeholder="Chọn khách hàng..." require>
                                <option disabled selected>Chọn khách hàng...</option>
                                @foreach (var cus in ViewBag.users)
                                {
                                    <option value="@cus.UserId">@cus.LastName @cus.FirstName (@cus.PhoneNumber)</option>
                                }
                            </select>
                        </div>
                        <div class="col-5 justify-content-end">
                            <button class="btn btn-success w-100 ms-auto"
                                    data-bs-toggle="modal"
                                    data-bs-target="#UserModal">
                                <i class="fa fa-plus"></i>
                                Thêm KH
                            </button>
                            @Html.Partial("ModalUser")
                        </div>
                    </div>
                </div>

                <!-- Thông tin khách hàng -->
                <div class="mb-3">
                    <h5 class="mx-2 mt-2">Thông tin khách hàng</h5>
                    <div class="row form-group">
                        <div class="col-3">Tên:</div>
                        <div id="nameCustomer" class="col-9 fw-bold"></div>
                        <div  class="col-3">SĐT:</div>
                        <div id="phoneCustomer" class="col-9 fw-bold"></div>
                        <div class="col-3">Địa chỉ:</div>
                        <div id="addressCustomer" class="col-9 fw-bold"></div>
                    </div>
                </div>

                <!-- Giỏ hàng -->
                <div class="card mb-3">
                    <div class="table-responsive">
                        <table id="shopping-cart" class="table table-hover mb-0">
                            <thead class="bg-light">
                                <tr>
                                    <th>Sản phẩm</th>
                                    <th>Biến thể</th>
                                    <th>Số lượng</th>
                                    <th>Giá</th>
                                    <th>Xóa</th>
                                </tr>
                            </thead>
                            <tbody>
                          
                            </tbody>
                        </table>
                    </div>
                </div>
                @* Voucher *@
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-7">
                            <input type="text" class="form-control" name="Voucher" placeholder="Nhập voucher"/>
                            <p id="resultVoucher" class="text-danger text-sm mx-3" style="font-size:13px;display:none"></p>

                        </div>
                        <div class="col-md-5">
                            <button id="Checkvoucher" type="button" class="btn btn-outline-secondary">Kiểm tra Voucher</button>
                        </div>
                    </div>
                </div>
                <!-- Giá giỏ hàng -->
                <div class="form-group">
                    <!-- Tổng phụ -->
                    <div class="row mb-2">
                        <div class="col-5"><strong>Tổng phụ:</strong></div>
                        <div class="col-7 text-end"><strong id="TotalPrice">0đ</strong></div>
                    </div>
                    <!-- Giảm giá -->
                    <div class="row mb-2">
                        <div class="col-5"><strong>Giảm Giá Khuyến Mãi:</strong></div>
                        <div class="col-7 text-end" id="promotion">
                            <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#ModalDiscount">
                                <i class="fas fa-pencil-alt text-info"></i>
                            </a>
                            <strong id="Discount">0đ</strong>
                            @Html.Partial("ModalDiscount")
                        </div>
                    </div>
                    <!-- Giảm giá -->
                    <div class="row mb-2">
                        <div class="col-5"><strong>Giảm Giá Thêm:</strong></div>
                        <div class="col-7 text-end" id="promotion">
                            <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#ModalDeduct">
                                <i class="fas fa-pencil-alt text-info"></i>
                            </a>

                            <strong id="Deduct">0đ</strong>
                            @Html.Partial("ModalDeduct")
                        </div>
                    </div>
                    <hr />
                    <!-- Tổng cộng -->
                    <div class="row">
                        <div class="col-5"><strong>Tổng cộng:</strong></div>
                        <div class="col-7 text-end"><strong id="TotalPayment">0đ</strong></div>
                    </div>
                </div>

                <!-- Thanh toán bằng -->
                <div class="pt-3">
                    <p><strong>Đã thanh toán bởi:</strong></p>
                    <div class="d-flex justify-content-start align-items-center">
                        <ul class="list-unstyled option-buttons d-flex m-0">
                            <li class="mx-2">
                                <input type="radio" id="cash" value="cash" name="type" hidden="" checked="">
                                <label for="cash" class="btn btn-bordered btn-bordered-black px-4 mb-0">Tiền mặt</label>
                            </li>
                            <li class="mx-2">
                                <input type="radio" value="card" id="card" name="type" hidden="">
                                <label for="card" class="btn btn-bordered btn-bordered-black px-4 mb-0">Thẻ</label>
                            </li>
                        </ul>
                    </div>
                    <style>
                     

                    </style>
                </div>

                <!-- Các nút hành động -->
                <div class="row d-flex justify-content-center pt-3">
                    <div class="col-6">
                        <button class="btn btn-danger form-control" type="button" onclick="confirm('Bạn có chắc chắn muốn hủy đơn hàng?') ? cancelOrder() : '';">Hủy đơn hàng</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-success form-control btn-Order" type="button">Đặt đơn hàng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="~/Admin/assets/js/core/jquery-3.7.1.min.js"></script>
<script src="~/Admin/assets/js/view/pos.js"></script>